<div class="toolbar">
  <h1 id="pageTitle">
    Contact
  </h1>
</div>
<div id="settings" title="Contact" class="panel">
  <%= link_to "Edit", {:action => :edit, :id => @contact['id']}, "class=\"button right_button\"" %>
  <fieldset>
  <% @contact.each_pair do |key,value| %>
    <div class="row">
      <label><%=key%>:</label>
      <span><%=value%></span>
    </div>
  <% end %>
  </fieldset>
</div>